.header__logo{
    align-self: flex-start;
    width: 142px;
    height: 33px;
}
@media screen and (max-width: 350px) {
    .header__logo {
        margin-left: 27px;
        width: 103.74px;
        height: 24.4px;
    }
  }