.page{
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    width: 100%;
    background-color: #000000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

