.popup__button-close{
    cursor: pointer;
    overflow: visible;
    align-self: flex-end;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgba(0, 125, 215, 0);
}
@media screen and (max-width: 600px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0px;
        top: -36px;
    }
}
