@import url(../vendor/normalize.css);
@import url(../vendor/InterWeb/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__user-name-edit/profile__user-name-edit.css);
@import url(../blocks/profile/__username/profile__username.css);
@import url(../blocks/profile/__edit-butt-img/profile__edit-butt-img.css);
@import url(../blocks/profile/__edit-butt/profile__edit-butt.css);
@import url(../blocks/profile/__about-user/profile__about-user.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-button-img/profile____add-button-img.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__counter-and-like/element__counter-and-like.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like-counter/element__like-counter.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_open-place/popup__open-place.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__img-name/popup__img-name.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-close-img/popup__button-close-img.css);
@import url(../blocks/popup/__edit-text/popup__edit-text.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__inputs/popup__inputs.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/popup__delete-card-yes/popup__delete-card-yes.css);
@import url(../blocks/popup/__container/_delete-card/popup__container_delete-card.css);
@import url(../blocks/popup/__edit-text/_delete-card/popup__edit-text_delete-card.css);
@import url(../blocks/popup/__container/update-avatar/popup__container_update-avatar.css);
@import url(../blocks/popup/__edit-text/_update-avatar/popup__edit-text_update-avatar.css);
@import url(../blocks/register/register.css);
@import url(../blocks/popup/success/success.css);