.popup__container{
    display: flex;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    width: 430px;
    min-height: 330px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: auto;
}
@media screen and (max-width: 600px) {
    .popup__container {
        width: 280px;
        min-height: 308px;
    }
}
