.element__like{
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/buttom-like.svg);
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
    
.element__like:hover {
    opacity: .5;
}

@media screen and (max-width: 600px) {
    .element__like {
        margin-right: 20px;
    }
}

