.profile__edit-butt-img{
    width: 10px;
    height: 10px;
    align-self: center;
}
@media screen and (max-width: 770px) {
    .profile__edit-butt-img {
        width: 7.5px;
        height: 7.5px;
        margin: 0 0 4px -1px;
    }
}